body {
    background-color: black;
    color: #03ff99;
    text-transform: uppercase;
    animation: flickerAnimation .1s 2;
    font-family: 'VT323', monospace;
}

.container {
    border: solid #03ff99 1px;
    background-color: black;
}

.title:hover {
    background-color: #03ff99;
    color: black;
    animation: flickerAnimation .1s 2;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  